{% extends 'shared/base.html' %}
{% load static %}

{% block title %}
    Log in
{% endblock title %}

{% block page_content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group container-all">
            <input type="hidden" name="return_url" value="{{ request.GET.next }}">
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}

            <h4>Log In</h4>
            <p>
                <label for="Username" class="floatLabel">Username</label>
                {{ form.username }}
            </p>
            <p>
                <label for="password" class="floatLabel">Password</label>
                {{ form.password }}
            </p>
            <p>
                <input type="submit" value="Log In" id="submit">
            </p>
            <p>
                <span>
                    <strong>You don't have an account?</strong>
                    <a href="{% url 'register' %}">Register</a>
                </span>
            </p>
        </div>
    </form>
    </div>
{% endblock %}
