{% extends 'shared/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    Change password
{% endblock title %}

{% block page_content %}
    <div class="form-group container-all">
        <form action="" method="post">
            {% csrf_token %}
            {% if form.errors %}
                <span style="margin: 2em; text-align: center; display: block">
                    <strong class="form-control">{{ form.errors }}</strong>
                </span>
            {% endif %}

            <h4>Change password</h4>
            <p>{% bootstrap_form form %}</p>
            <input type="submit" value="Submit" class="">
        </form>
        <input type="button" value="Cancel" class="" onclick="window.location.href='{% url 'index' %}';">
    </div>
{% endblock %}
