{% extends 'shared/base.html' %}
{% load static %}

{% block title %}
    Edit Comment
{% endblock %}

{% block page_content %}
    <div class="container container-all">
        <h4>Edit comment</h4>
        <form class="form-group" method="post">
            {% csrf_token %}
            <p>
                <h2>{{ request.user }}</h2>
            </p>
            <p>
                <label for="" class="floatLabel">Text</label>
                {{ form.body }}
            </p>
            <p>
                <input type="submit" value="Update">
            </p>
        </form>
        <input type="button" value="Cancel" onclick="window.location.href='{{ request.GET.next }}';">
    </div>
{% endblock %}