{% extends 'shared/base.html' %}
{% load static %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block page_content %}
    <div class="container">
        <article class="article-post">
            <div class="article-info">
                <ul class="article-subnav row">
                    <li class="article-subnav-item col-md-4">
                        <time>{{ post.post_datetime }}</time>
                    </li>
                    <li class="article-subnav-item col-md-4">
                        <span>posted by:</span>
                        <a href="{% url 'details' post.author_id %}" class="text-decoration-none"> {{ post.author }}</a>
                    </li>
                </ul>
                <ul class="row">
                    <div class="col-md-8">
                        <a class="article-title text-decoration-none" href="">{{ post.title }}</a>
                    </div>
                </ul>
            </div>

            <div property="text">
                <p class="article-img">
                    <img src="{{ post.header_img.url }}" class="post-img">
                </p>
                <p class="article-subnav-item">
                    {{ post.body }}
                </p>
                <div style="font-size: 16px">
                    {% if all_comments|length == 0 %}
                        <h6>0 коментари</h6>
                    {% elif all_comments|length == 1 %}
                        <h6>1 коментар</h6>
                    {% else %}
                        <h6>{{ all_comments|length }} коментари</h6>
                    {% endif %}
                </div>
            </div>
        </article>

        {#    <div class="container article-post">#}
        {% for comment in all_comments %}
            <div class="comment-info text-left">
                <div class="row text-left text-muted">
                    <div class="col-md-1 text-decoration-none">
                        <a href="{% url 'details' comment.user_id %}">{{ comment.user }} </a>
                    </div>
                    <div class="col-mg-1">
                        {{ comment.comment_datetime }}
                    </div>
                </div>
                <div class="row comment-body">
                    <div class="col-md-4">
                        {{ comment.body }}
                    </div>

                    {% if comment.user_id == request.user.id %}
                        <div class="col-md-8">
                            <a href="{% url 'edit-comment' comment.id %}?next={{ request.path }}">
                                <button type="button" class="btn btn-outline-primary btn-sm" value="">Edit</button>
                            </a>
                            <a href="{% url 'delete-comment' comment.id %}?next={{ request.path }}">
                                <button type="button" class="btn btn-outline-danger btn-sm" value="">Delete</button>
                            </a>
                        </div>
                    {% endif %}

                </div>
            </div>
            <form method="post">
                {% csrf_token %}
            </form>

        {% endfor %}
        {#    </div>#}
{% endblock page_content %}