.article-general {
    padding: 1.5em 1.5em 0.5em;
    max-width: 100%;
    margin: 30px;
    max-height: fit-content;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    align-content: center;
    /*border-radius: 25px;*/
    background: #e6e4e5;
}

.article-info {
    margin-bottom: 20px;
    /*align-content: center;*/
    /*font-size: 14px;*/
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    padding-left: 20px;
    position: relative;
    display: flex;
    /*align-items: center;*/
}

.subnav-divider {
    font-size: 14px;
    margin-right: 15px;
    padding-right: 15px;
    border-right-style: ridge;
}

.article-title {
    font-size: 18px;
    text-align: center;
    /*line-height: 1.2;*/
    color: #616161;
    /*font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;*/
    font-weight: 400;
    margin: 15px;
}

.article-img {
    max-width: 400px;
    max-height: 250px;
    margin: 15px;
}

.comments-footer {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    /*border-right-style: ridge;*/
    margin: 240px 0 0 0;
    /*padding: 20px;*/
    text-align: left;
    font-size: 18px;
    color: #616161;
}

.article-post {
    background: #e6e4e5;
    box-shadow: 0 0 1em #1e221d;
    color: #616161;
    display: block;

}

.comment-body {
    background: #e6d3de;
    padding: 1.5em 1.5em 1.5em;
    max-width: 850px;
    margin: 15px auto 15px;
    box-shadow: 0 0 1em #1e221d;
    max-height: fit-content;
    color: #616161;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    text-align: left;
}

.comment-info {
    background: #e6c1c1;
    padding: 1.5em 1.5em 0.5em;
    max-width: 850px;
    margin: 8px auto 8px;
    box-shadow: 0 0 1em #1e221d;
    max-height: fit-content;
    color: #e6c1c1;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    text-align: left;
    border-bottom: #e6c1c1;
}


.article-subnav {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    padding: 0;
    list-style: none;
}



.article-subnav-item {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 14px;
    color: #e6c1c1;
}

#logo {
    margin: 150px 20px 150px 20px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-align: center!important;
    cursor: pointer;
    font-size: 22px;
    color: #3c3c3c;
    width: 1280px;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

#img {
    width: auto;
    vertical-align: middle;
    horiz-align: right;
    max-width: 100%;
    height: auto;
}
