{
    margin: 0;
    padding: 0;
}

ul,
ol,
ul li,
ol li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


.index-img {

    margin-top: 80px;
    margin-left: 15px;
    margin-bottom: 1em;
    size: 200px;
}

.col-md-6 .col-md-8 .col-md-1 {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    padding: 0 35px 0 40px;
    border-bottom: black;
    color: #e6c1c1;
    font-size: large;
}

.custom-nav, dropdown-item {
    font-family: papyrus;
    color: #f7ffef;
    font-weight: 800;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #d9becc;
    height: 60px;
}

.nav-item {
    margin-right: 8px;
    color: #f7ffef;
}

#add-msg-form {
    margin: 10px;
    text-align: center;
}

.container-all {
    background: #e6e4e5;
    padding: 1.5em 1.5em 0.5em;
    max-width: 450px;
    margin: 25px auto 80px;
    box-shadow: 0 0 1em #1e221d;
    max-height: fit-content;
    color: #616161;
}

.pagination {
    display: inline-block;

}

.page-item {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}


#container-details {
    background: #e6e4e5;
    padding: 1.5em 1.5em 0.5em;
    max-width: 900px;
    margin: 25px auto 80px;
    box-shadow: 0 0 1em #1e221d;
    max-height: fit-content;
    color: #616161;
    margin-bottom: 25px;
}


#logo {
    margin: 150px 20px 150px 20px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-align: center !important;
    cursor: pointer;
    font-size: 22px;
    color: #3c3c3c;
    /*width: 1400px;*/
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

a {
    color: #616161;
    text-decoration: none;

}

body {
    /*font-family: sans-serif;*/
    background-image: url('/static/images/moroccan-flower.png');
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    /*background-size: cover;*/
    scroll-margin-bottom: 20px;
}

h4 {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    margin: 0 0 15px 15px;
    /*padding: 20px;*/
    text-align: center;
    font-size: 25px;
    border-bottom: solid 1px #e5e5e5;
}

h5 {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    border-bottom-style: solid;
    margin: 0 0 50px 0;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: #e6c1c1;
}

p {
    margin: 0 0 2em 0;
    position: relative;
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin: 0 0 40px 0 ;
}
