{% extends 'shared/base.html' %}
{% load static %}

{% block title %}
    Energy balance with Nastya
{% endblock %}

{% block page_content %}
    <div id="logo">
        <img alt='logo' src="{% static "images/logo_transparent.png" %}">
    </div>

    <div class="article-general article-post">
        <p id="">
            Скъпи приятели, казвам се Виктория и това е мястото където, ще споделям с вас всичко, което знам за
            духовните енергии, начините за тяхното
            овладяване, прилагане в името на това да бъдете здрави, балансирани и щастливи.
            Ще помогна на всеки, който пожелае моята помощ.
        </p>
        <a href="{% url 'the-practice' %}" alt="">
            Прочетете още...
        </a>
    </div>
{% endblock page_content %}
