{% extends 'shared/base.html' %}
{% load static %}

{% block title %}
    Energy massage
{% endblock %}

{% block page_content %}

    <article class="article-general article-post">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mr-auto">
                    <p>What is energy massage?</p>
                    <p>
                        In massage therapy, the practitioner manipulates the patient, whereas, in Reiki, the healer
                        barely touches the patient, in a non-invasive and non-manipulative 45- to 90-minute session. The
                        practices are complementary, however, and many massage therapy schools also teach Reiki healing
                        techniques so they can be incorporated into graduates’ private practices. Some massage
                        therapists use Reiki techniques during their massage sessions, which is referred to as a “Reiki
                        massage”, to promote physical, emotional and mental well-being.

                        Although the certification standards are more rigorous and there are more licensing laws
                        surrounding massage therapy schools, Reiki training is increasing in demand, and with the growth
                        in the healing arts and natural health degree field, training in Reiki healing can be a
                        complementary addition to your massage therapy practice.
                    </p>
                    <a href="{% url 'all-blog-posts' %}" alt="">
                        Visit the blog to find out more...
                    </a>

                </div>
                <div class="col-md-6">
                    <img src="{% static 'images/energy_massage.jpg' %}" alt="img" id="img">
                </div>
            </div>
        </div>
    </article>

{% endblock page_content %}
