{% extends 'shared/base.html' %}
{% load static %}

{% block title %}
    Energy practice
{% endblock %}

{% block page_content %}

    <article class="article-general article-post">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mr-auto">
                    <p>
                        Как протича един Рейки сеанс?
                    </p>
                    <p>Присъствен</p>
                    <p>
                        Започва се с разговор между #клиента и Рейки Мастъра, целта на който е #Рейки Мастъра да се
                        осведоми за корена на #проблема. След като разговорът приключи, #клиентът ляга на мека и #удобна
                        масажна кушетка или легло - затваря очи и се #отпуска. Целта на #клиента, по време на #сеанса, е
                        да се отпусне максимално, така че да допусне в #себе си необходимото му количество #жизнена
                        #енергия. За тази цел се подготвя комфортна #атмосфера - мека светлина, ароматни #свещи и
                        приятна отпускаща #медитативна музика. По време на #сеанса е възможно да изпитате различни
                        #емоции, да усетите парене, бодежи или натиск на определени места – това е индикация, че
                        #енергията “чисти” #негативи или проблемни зони.

                    </p>
                    <p>Дистанционен</p>
                    <p>
                        Необходимо е да бъде #записан удобен час в който да бъде проведен дистанционният #сеанс. Това
                        трябва да бъде съобразено с ежедневието #клиента и на #Рейки Мастера. Препоръчително е да се
                        прави в #светлата част на #деня. По време на #сеанса е необходимо клиентът да е #спокоен и
                        #отпуснат, най-добре да е легнал. За тази цел е добре самият той да подготви #комфортна
                        атмосфера - мека светлина, ароматни свещи и приятна отпускаща медитативна #музика. Тъй като
                        съзнанието се #отпуска е възможно, клиентът да #заспи.
                        Намасте!
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'images/energy_cleansing.jpg' %}" alt="img" id="img">
                </div>
            </div>
        </div>

    </article>
{% endblock page_content %}
