{% extends 'shared/base.html' %}
{% load static %}

{% block title %}
    Energy practice
{% endblock %}

{% block page_content %}

    <article class="article-general article-post">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mr-auto">
                    <p>
                        What Can I Expect in a Typical Reiki Session?
                    </p>
                    <p>In person</p>
                    <p>
                        A complete Reiki session is offered to a fully clothed recipient who is lying on a treatment
                        table or sitting comfortably supported in a chair.
                        Most commonly, Reiki is offered through light, non-invasive touch with the practitioner's hands
                        placed and held on a series of locations on the head and front and back of the torso. The
                        placement of the hands should never be intrusive or inappropriate, nor should there be any
                        pressure.
                        Additional placements on the limbs can be done as needed (for example, if there is an injury or
                        surgical scar), and some practitioners routinely do so. The Reiki practitioner can hold her
                        hands just off the body if needed (for example, in the presence of an open wound or burn), and
                        some practitioners always offer Reiki in this way.

                    </p>
                    <p>Distant</p>
                    <p>
                        To receive distant Reiki healing you don’t have to do anything special, but it’s best to lie
                        down and be still if possible. The recipient and healer can agree on a time beforehand and the
                        person receiving simply needs to sit or lie down for the specified amount of time (typically a
                        half hour or so). The effects of distant healing are virtually no different than hands-on
                        healing. An experienced Reiki healer (level II or higher) can send healing energy to a person
                        anywhere in the world no matter how far away from the healer they are. The energy transmissions
                        in a remote session are just as strong as if they were delivered in person directly with the
                        hands. Distant healings are ideal for those who don’t live in a reasonable distance from a
                        practitioner, people who don’t have the means to travel to and from a healers office, or if you
                        don’t particularly like someone touching you, a distance healer can provide the same benefit
                        without the need to physically touch.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'images/energy_cleansing.jpg' %}" alt="img" id="img">
                </div>
            </div>
        </div>

    </article>
{% endblock page_content %}
