{% extends 'shared/base.html' %}
{% load static %}

{% block title %}
    The practice
{% endblock %}

{% block page_content %}

    <article class="article-general article-post">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mr-auto">
                    <p>
                        РЕЙ-КИ
                    </p>
                    <p>
                        Колкото повече съвремената наука напредва в опознаването на нашето физическо тяло, толкова
                        по-нобходимо
                        става разглеждането и изучаването на човешкото същество, като едно цяло.
                        Традиционната медицина достига все по-големи и фантастични успехи свързани с увеличаването на
                        продължителността на живота.
                    </p>

                    <p>
                        Енергийните лечителски системи не заместват лечението чрез традиционата медицина и последната,
                        също
                        не
                        може да замести лечебните енергийни системи, и всяка от тях има обсег в различно поле на
                        действие,
                        но
                        двете си съжителстват и допълват, като целта е една – подобряване на живота на човека във
                        Вселената.
                        Системата Рейки не може да се научи чрез самообучение, четейки книги и ръководства или гледане
                        на
                        видеозаписи и филми. За да бъдем практикуващи рейкисти е необходимо да получим лична инициация
                        (посвещение,синтонизиране) от хабилитиран Рейки Мастер.
                        Онези, които практикуват без да са получили инициация, не ползват енергията Рейки, а ползват
                        личната
                        си
                        жизнена енергия, което довежда до неминуеми проблеми в здравето им.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'images/the_practice.jpg' %}" alt="img" id="img">
                </div>
            </div>
        </div>

    </article>
{% endblock page_content %}
