{% extends 'shared/base.html' %}
{% load static %}

{% block title %}
    The practice
{% endblock %}

{% block page_content %}

    <article class="article-general article-post">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mr-auto">
                    <p>
                        REIKI
                    </p>
                    <p>
                        Reiki is a very specific form of energy healing, in which hands are placed just off the body
                        or lightly touching the
                        body, as in “laying on of hands.” Reiki can also be done “long-distance,” as a form of prayer.
                        According to many versions of its origin, Dr Mikao Usui, a Japanese seeker of spiritual truths,
                        brought the Reiki method of healing into human awareness in 1922 after a deep spiritual
                        experience. He is said to have begun teaching others after a serious earthquake hit Japan and he
                        felt urged to spread his knowledge.

                        In a Reiki session, the practitioner is seeking to transmit Universal Life Energy to the
                        client. The intention is to create deep relaxation, to help speed healing, reduce pain, and
                        decrease other symptoms you may be experiencing.

                        Since there is no regulation of Reiki practitioners in most places, you may have to do some
                        investigating to find a qualified professional. Please contact us if you are interested in
                        learning more about our qualified Reiki practitioners or would like to make an appointment.
                    </p>

                </div>
                <div class="col-md-6">
                    <img src="{% static 'images/the_practice.jpg' %}" alt="img" id="img">
                </div>
            </div>
        </div>

    </article>
{% endblock page_content %}
