{% load static %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>#}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
{% block navbar %}
    {% include 'shared/nav_bar.html' %}
{% endblock navbar %}

{% block page_content %}
{% endblock page_content %}

{% block footer_info %}
    {% include 'shared/footer.html' %}
{% endblock footer_info %}

</body>


